## Part 1: Preprocessing

In [68]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
from tensorflow.keras.models import Model
from tensorflow.keras import layers

#  Import and read the attrition data
attrition_df = pd.read_csv('https://static.bc-edx.com/ai/ail-v-1-0/m19/lms/datasets/attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Life Sciences,2,94,3,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,1,Life Sciences,3,61,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,2,Other,4,92,2,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,Research & Development,3,4,Life Sciences,4,56,3,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,Research & Development,2,1,Medical,1,40,3,...,3,4,1,6,3,3,2,2,2,2

In [69]:
# Determine the number of unique values in each column.
attrition_df.nunique()

Age                         43
Attrition                    2
BusinessTravel               3
Department                   3
DistanceFromHome            29
Education                    5
EducationField               6
EnvironmentSatisfaction      4
HourlyRate                  71
JobInvolvement               4
JobLevel                     5
JobRole                      9
JobSatisfaction              4
MaritalStatus                3
NumCompaniesWorked          10
OverTime                     2
PercentSalaryHike           15
PerformanceRating            2
RelationshipSatisfaction     4
StockOptionLevel             4
TotalWorkingYears           40
TrainingTimesLastYear        7
WorkLifeBalance              4
YearsAtCompany              37
YearsInCurrentRole          19
YearsSinceLastPromotion     16
YearsWithCurrManager        18
dtype: int64

In [70]:
attrition_df['Department'].unique()

array(['Sales', 'Research & Development', 'Human Resources'], dtype=object)

In [71]:
# Create y_df with the Attrition and Department columns
y_df = attrition_df[['Attrition', 'Department']]
y_df

     Attrition              Department
0          Yes                   Sales
1           No  Research & Development
2          Yes  Research & Development
3           No  Research & Development
4           No  Research & Development
...        ...                     ...
1465        No  Research & Development
1466        No  Research & Development
1467        No  Research & Development
1468        No                   Sales
1469        No  Research & Development

[1470 rows x 2 columns]

In [72]:
# Create a list of at least 10 column names to use as X data except for the Attrition and Department columns
x_features = ['Age', 'DistanceFromHome', 'Education', 'EnvironmentSatisfaction',
              'JobInvolvement', 'JobLevel', 'NumCompaniesWorked',
              'PercentSalaryHike', 'TotalWorkingYears', 'YearsAtCompany']
# Create X_df using your selected columns
X_df = attrition_df[x_features]

# Show the data types for X_df
X_df.dtypes

Age                        int64
DistanceFromHome           int64
Education                  int64
EnvironmentSatisfaction    int64
JobInvolvement             int64
JobLevel                   int64
NumCompaniesWorked         int64
PercentSalaryHike          int64
TotalWorkingYears          int64
YearsAtCompany             int64
dtype: object

In [73]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_df, y_df, test_size=0.2, random_state=42)

In [74]:
# Convert your X data to numeric data types however you see fit
# Add new code cells as necessary

# Since X_df already contains only numeric data types, no conversion is needed.
# Show the first few rows of the updated dataframe
X_train

,Age,DistanceFromHome,Education,EnvironmentSatisfaction,JobInvolvement,JobLevel,NumCompaniesWorked,PercentSalaryHike,TotalWorkingYears,YearsAtCompany
1097,24,21,2,3,2,1,0,14,2,1
727,18,5,2,2,3,1,1,15,0,0
254,29,20,2,4,3,2,2,14,10,3
1175,39,12,3,4,3,2,4,21,7,5
1341,31,20,3,2,3,2,1,11,10,10
...,...,...,...,...,...,...,...,...,...,...
1130,35,28,3,2,4,2,1,17,10,10
1294,41,5,3,2,4,2,3,12,11,3
860,22,3,4,3,2,1,0,11,1,0
1459,29,13,2,4,2,2,4,13,10,4
1126,50,9,3,3,3,5,4,16,27,1

In [75]:
X_test

,Age,DistanceFromHome,Education,EnvironmentSatisfaction,JobInvolvement,JobLevel,NumCompaniesWorked,PercentSalaryHike,TotalWorkingYears,YearsAtCompany
1041,28,5,3,4,3,2,0,18,6,5
184,53,13,2,4,4,2,1,11,5,4
1222,24,22,1,4,1,1,1,11,1,1
67,45,7,3,2,3,3,2,17,25,1
220,36,5,2,4,3,2,8,16,16,13
...,...,...,...,...,...,...,...,...,...,...
567,34,2,3,4,3,2,1,22,6,6
560,34,8,5,2,3,2,3,14,7,0
945,50,28,3,4,3,4,4,11,25,3
522,37,10,2,4,4,1,3,17,4,1
651,47,2,2,3,3,2,0,22,8,7

In [76]:
# Convert categorical data to numeric using get_dummies for X_train and X_test

# Create a StandardScaler
scaler = StandardScaler()

# Fit the StandardScaler to the training data
scaler.fit(X_train)

# Scale the training and testing data
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [77]:
X_test_scaled

array([[-0.95377387, -0.52269928,  0.09993302, ...,  0.7522889 ,
        -0.65531119, -0.3170233 ],
       [ 1.76363593,  0.45884859, -0.86335572, ..., -1.15790303,
        -0.78332546, -0.4813333 ],
       [-1.38855944,  1.56308993, -1.82664446, ..., -1.15790303,
        -1.29538258, -0.97426331],
       ...,
       [ 1.43754676,  2.29925083,  0.09993302, ..., -1.15790303,
         1.7769601 , -0.6456433 ],
       [ 0.02449366,  0.09076814, -0.86335572, ...,  0.47940434,
        -0.91133974, -0.97426331],
       [ 1.11145758, -0.89077972, -0.86335572, ...,  1.84382715,
        -0.39928263,  0.01159671]])

In [78]:
from sklearn.preprocessing import OneHotEncoder

# Create a OneHotEncoder for the Department column
department_encoder = OneHotEncoder(sparse_output=False)

# Fit the encoder to the training data
department_encoder.fit(y_train[['Department']])

# Create two new variables by applying the encoder
# to the training and testing data
y_train_department = department_encoder.transform(y_train[['Department']])
y_test_department = department_encoder.transform(y_test[['Department']])

In [79]:
y_train_department

array([[0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       ...,
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [80]:
from sklearn.preprocessing import OneHotEncoder

# Create a OneHotEncoder for the Attrition column
attrition_encoder = OneHotEncoder(sparse_output=False)

# Fit the encoder to the training data
attrition_encoder.fit(y_train[['Attrition']])

# Create two new variables by applying the encoder
# to the training and testing data
y_train_attrition = attrition_encoder.transform(y_train[['Attrition']])
y_test_attrition = attrition_encoder.transform(y_test[['Attrition']])

In [81]:
y_train_attrition

array([[1., 0.],
       [1., 0.],
       [1., 0.],
       ...,
       [0., 1.],
       [1., 0.],
       [1., 0.]])

## Create, Compile, and Train the Model

In [82]:
# Find the number of columns in the X training data
input_dim = X_train_scaled.shape[1]

# Create the input layer
input_layer = layers.Input(shape=(input_dim,))

# Create at least two shared layers
shared_layer_1 = layers.Dense(64, activation='relu')(input_layer)
shared_layer_2 = layers.Dense(32, activation='relu')(shared_layer_1)

In [83]:
X_train_scaled.shape[1]

10

In [84]:
# Create a branch for Department
# with a hidden layer and an output layer

# Create the hidden layer
department_branch = layers.Dense(32, activation='relu')(shared_layer_2)

# Create the output layer
department_output = layers.Dense(y_train_department.shape[1], activation='softmax', name='department_output')(department_branch)

In [85]:
# Create a branch for Attrition
# with a hidden layer and an output layer

# Create the hidden layer
attrition_hidden_layer = layers.Dense(32, activation='relu')(shared_layer_2)

# Create the output layer
attrition_output_layer = layers.Dense(y_train_attrition.shape[1], activation='sigmoid', name='attrition_output')(attrition_hidden_layer)

In [86]:
# Create the model
model = Model(inputs=input_layer, outputs=[department_output, attrition_output_layer])

# Compile the model
model.compile(optimizer='adam',
              loss={'department_output': 'categorical_crossentropy',
                    'attrition_output': 'binary_crossentropy'},
              metrics={'department_output': 'accuracy',
                       'attrition_output': 'accuracy'})
# Summarize the model
model.summary()

Model: "functional_3"

┏━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━┓
┃ Layer (type)        ┃ Output Shape      ┃    Param # ┃ Connected to      ┃
┡━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━┩
│ input_layer_3       │ (None, 10)        │          0 │ -                 │
│ (InputLayer)        │                   │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense_12 (Dense)    │ (None, 64)        │        704 │ input_layer_3[0]… │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense_13 (Dense)    │ (None, 32)        │      2,080 │ dense_12[0][0]    │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense_14 (Dense)    │ (None, 32)        │      1,056 │ dense_13[0][0]    │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense_15 (Dense)    │ (None, 32)        │      1,056 │ dense_13[0][0]    │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ department_output   │ (None, 3)         │         99 │ dense_14[0][0]    │
│ (Dense)             │                   │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ attrition_output    │ (None, 2)         │         66 │ dense_15[0][0]    │
│ (Dense)             │                   │            │                   │
└─────────────────────┴───────────────────┴────────────┴───────────────────┘

 Total params: 5,061 (19.77 KB)

 Trainable params: 5,061 (19.77 KB)

 Non-trainable params: 0 (0.00 B)

In [87]:
# Train the model
history = model.fit(
    X_train_scaled,
    {'department_output': y_train_department, 'attrition_output': y_train_attrition},
    validation_split=0.2,
    epochs=30,
    batch_size=32
)

Epoch 1/30
30/30 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - attrition_output_accuracy: 0.5149 - attrition_output_loss: 0.6924 - department_output_accuracy: 0.6153 - department_output_loss: 0.9109 - loss: 1.6036 - val_attrition_output_accuracy: 0.7966 - val_attrition_output_loss: 0.5279 - val_department_output_accuracy: 0.6314 - val_department_output_loss: 0.8092 - val_loss: 1.3568
Epoch 2/30
30/30 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attrition_output_accuracy: 0.8506 - attrition_output_loss: 0.4645 - department_output_accuracy: 0.6403 - department_output_loss: 0.7979 - loss: 1.2613 - val_attrition_output_accuracy: 0.7966 - val_attrition_output_loss: 0.4883 - val_department_output_accuracy: 0.6314 - val_department_output_loss: 0.7915 - val_loss: 1.3090
Epoch 3/30
30/30 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attrition_output_accuracy: 0.8439 - attrition_output_loss: 0.4256 - department_output_accuracy: 0.6676 - department_output_loss: 0.7741 - loss: 1.1998 - val_attrition_output_accuracy: 0.7966 - val_attrition_output_loss: 0.4658 - val_department_output_accuracy: 0.6314 - val_department_output_loss: 0.7853 - val_loss: 1.2805
Epoch 4/30
30/30 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - attrition_output_accuracy: 0.8326 - attrition_output_loss: 0.4266 - department_output_accuracy: 0.6489 - department_output_loss: 0.7377 - loss: 1.1638 - val_attrition_output_accuracy: 0.7966 - val_attrition_output_loss: 0.4570 - val_department_output_accuracy: 0.6314 - val_department_output_loss: 0.7847 - val_loss: 1.2726
Epoch 5/30
30/30 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - attrition_output_accuracy: 0.8448 - attrition_output_loss: 0.4097 - department_output_accuracy: 0.6711 - department_output_loss: 0.7420 - loss: 1.1522 - val_attrition_output_accuracy: 0.8051 - val_attrition_output_loss: 0.4467 - val_department_output_accuracy: 0.6356 - val_department_output_loss: 0.7798 - val_loss: 1.2574
Epoch 6/30
30/30 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - attrition_output_accuracy: 0.8349 - attrition_output_loss: 0.4216 - department_output_accuracy: 0.6540 - department_output_loss: 0.7587 - loss: 1.1809 - val_attrition_output_accuracy: 0.8051 - val_attrition_output_loss: 0.4473 - val_department_output_accuracy: 0.6314 - val_department_output_loss: 0.7762 - val_loss: 1.2552
Epoch 7/30
30/30 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - attrition_output_accuracy: 0.8768 - attrition_output_loss: 0.3592 - department_output_accuracy: 0.6703 - department_output_loss: 0.7410 - loss: 1.1003 - val_attrition_output_accuracy: 0.8178 - val_attrition_output_loss: 0.4381 - val_department_output_accuracy: 0.6525 - val_department_output_loss: 0.7690 - val_loss: 1.2396
Epoch 8/30
30/30 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - attrition_output_accuracy: 0.8560 - attrition_output_loss: 0.4077 - department_output_accuracy: 0.6510 - department_output_loss: 0.7222 - loss: 1.1302 - val_attrition_output_accuracy: 0.8093 - val_attrition_output_loss: 0.4435 - val_department_output_accuracy: 0.6610 - val_department_output_loss: 0.7718 - val_loss: 1.2490
Epoch 9/30
30/30 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - attrition_output_accuracy: 0.8747 - attrition_output_loss: 0.3542 - department_output_accuracy: 0.6650 - department_output_loss: 0.7165 - loss: 1.0701 - val_attrition_output_accuracy: 0.8178 - val_attrition_output_loss: 0.4377 - val_department_output_accuracy: 0.6610 - val_department_output_loss: 0.7674 - val_loss: 1.2388
Epoch 10/30
30/30 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - attrition_output_accuracy: 0.8500 - attrition_output_loss: 0.3896 - department_output_accuracy: 0.6766 - department_output_loss: 0.6922 - loss: 1.0816 - val_attrition_output_accuracy: 0.8178 - val_attrition_output_loss: 0.4405 - val_department_output_accuracy: 0.6780 - val_department_output_loss: 0.7644 - val_loss: 1.2367
Epoch 11/30
30/30 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - attrition_output_accuracy: 0.8462 - attrition_output_loss: 0.3980 - department_output_accuracy: 0.6933 - department_output_loss: 0.6853 - loss: 1.0832 - val_attrition_output_accuracy: 0.8178 - val_attrition_output_loss: 0.4386 - val_department_output_accuracy: 0.6822 - val_department_output_loss: 0.7606 - val_loss: 1.2295
Epoch 12/30
30/30 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - attrition_output_accuracy: 0.8537 - attrition_output_loss: 0.3933 - department_output_accuracy: 0.6852 - department_output_loss: 0.6911 - loss: 1.0841 - val_attrition_output_accuracy: 0.8220 - val_attrition_output_loss: 0.4347 - val_department_output_accuracy: 0.6737 - val_department_output_loss: 0.7598 - val_loss: 1.2280
Epoch 13/30
30/30 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - attrition_output_accuracy: 0.8477 - attrition_output_loss: 0.3760 - department_output_accuracy: 0.6887 - department_output_loss: 0.6719 - loss: 1.0478 - val_attrition_output_accuracy: 0.8178 - val_attrition_output_loss: 0.4415 - val_department_output_accuracy: 0.6822 - val_department_output_loss: 0.7583 - val_loss: 1.2314
Epoch 14/30
30/30 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - attrition_output_accuracy: 0.8579 - attrition_output_loss: 0.3636 - department_output_accuracy: 0.7180 - department_output_loss: 0.6451 - loss: 1.0085 - val_attrition_output_accuracy: 0.8263 - val_attrition_output_loss: 0.4343 - val_department_output_accuracy: 0.6695 - val_department_output_loss: 0.7636 - val_loss: 1.2319
Epoch 15/30
30/30 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - attrition_output_accuracy: 0.8455 - attrition_output_loss: 0.3879 - department_output_accuracy: 0.6851 - department_output_loss: 0.6799 - loss: 1.0678 - val_attrition_output_accuracy: 0.8178 - val_attrition_output_loss: 0.4453 - val_department_output_accuracy: 0.6695 - val_department_output_loss: 0.7647 - val_loss: 1.2446
Epoch 16/30
30/30 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attrition_output_accuracy: 0.8420 - attrition_output_loss: 0.3883 - department_output_accuracy: 0.7078 - department_output_loss: 0.6457 - loss: 1.0338 - val_attrition_output_accuracy: 0.8220 - val_attrition_output_loss: 0.4379 - val_department_output_accuracy: 0.6780 - val_department_output_loss: 0.7598 - val_loss: 1.2318
Epoch 17/30
30/30 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - attrition_output_accuracy: 0.8436 - attrition_output_loss: 0.3599 - department_output_accuracy: 0.6961 - department_output_loss: 0.6581 - loss: 1.0185 - val_attrition_output_accuracy: 0.8178 - val_attrition_output_loss: 0.4399 - val_department_output_accuracy: 0.6695 - val_department_output_loss: 0.7576 - val_loss: 1.2271
Epoch 18/30
30/30 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - attrition_output_accuracy: 0.8376 - attrition_output_loss: 0.3826 - department_output_accuracy: 0.7142 - department_output_loss: 0.6605 - loss: 1.0430 - val_attrition_output_accuracy: 0.8347 - val_attrition_output_loss: 0.4323 - val_department_output_accuracy: 0.6653 - val_department_output_loss: 0.7589 - val_loss: 1.2211
Epoch 19/30
30/30 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - attrition_output_accuracy: 0.8670 - attrition_output_loss: 0.3448 - department_output_accuracy: 0.7114 - department_output_loss: 0.6301 - loss: 0.9748 - val_attrition_output_accuracy: 0.8263 - val_attrition_output_loss: 0.4405 - val_department_output_accuracy: 0.6610 - val_department_output_loss: 0.7592 - val_loss: 1.2275
Epoch 20/30
30/30 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - attrition_output_accuracy: 0.8527 - attrition_output_loss: 0.3772 - department_output_accuracy: 0.7124 - department_output_loss: 0.6303 - loss: 1.0078 - val_attrition_output_accuracy: 0.8263 - val_attrition_output_loss: 0.4360 - val_department_output_accuracy: 0.6568 - val_department_output_loss: 0.7576 - val_loss: 1.2221
Epoch 21/30
30/30 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attrition_output_accuracy: 0.8530 - attrition_output_loss: 0.3630 - department_output_accuracy: 0.7306 - department_output_loss: 0.6059 - loss: 0.9687 - val_attrition_output_accuracy: 0.8305 - val_attrition_output_loss: 0.4380 - val_department_output_accuracy: 0.6525 - val_department_output_loss: 0.7678 - val_loss: 1.2316
Epoch 22/30
30/30 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - attrition_output_accuracy: 0.8471 - attrition_output_loss: 0.3597 - department_output_accuracy: 0.7526 - department_output_loss: 0.5911 - loss: 0.9505 - val_attrition_output_accuracy: 0.8305 - val_attrition_output_loss: 0.4348 - val_department_output_accuracy: 0.6356 - val_department_output_loss: 0.7797 - val_loss: 1.2393
Epoch 23/30
30/30 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attrition_output_accuracy: 0.8542 - attrition_output_loss: 0.3622 - department_output_accuracy: 0.7494 - department_output_loss: 0.6258 - loss: 0.9871 - val_attrition_output_accuracy: 0.8305 - val_attrition_output_loss: 0.4442 - val_department_output_accuracy: 0.6653 - val_department_output_loss: 0.7702 - val_loss: 1.2420
Epoch 24/30
30/30 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attrition_output_accuracy: 0.8555 - attrition_output_loss: 0.3362 - department_output_accuracy: 0.7400 - department_output_loss: 0.6206 - loss: 0.9568 - val_attrition_output_accuracy: 0.8263 - val_attrition_output_loss: 0.4404 - val_department_output_accuracy: 0.6483 - val_department_output_loss: 0.7877 - val_loss: 1.2528
Epoch 25/30
30/30 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - attrition_output_accuracy: 0.8374 - attrition_output_loss: 0.3862 - department_output_accuracy: 0.7519 - department_output_loss: 0.5918 - loss: 0.9776 - val_attrition_output_accuracy: 0.8305 - val_attrition_output_loss: 0.4436 - val_department_output_accuracy: 0.6483 - val_department_output_loss: 0.7766 - val_loss: 1.2476
Epoch 26/30
30/30 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - attrition_output_accuracy: 0.8702 - attrition_output_loss: 0.3246 - department_output_accuracy: 0.7551 - department_output_loss: 0.6027 - loss: 0.9272 - val_attrition_output_accuracy: 0.8390 - val_attrition_output_loss: 0.4334 - val_department_output_accuracy: 0.6695 - val_department_output_loss: 0.7905 - val_loss: 1.2532
Epoch 27/30
30/30 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attrition_output_accuracy: 0.8520 - attrition_output_loss: 0.3719 - department_output_accuracy: 0.7521 - department_output_loss: 0.5942 - loss: 0.9655 - val_attrition_output_accuracy: 0.8390 - val_attrition_output_loss: 0.4376 - val_department_output_accuracy: 0.6525 - val_department_output_loss: 0.7755 - val_loss: 1.2418
Epoch 28/30
30/30 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attrition_output_accuracy: 0.8607 - attrition_output_loss: 0.3466 - department_output_accuracy: 0.7630 - department_output_loss: 0.5640 - loss: 0.9106 - val_attrition_output_accuracy: 0.8432 - val_attrition_output_loss: 0.4365 - val_department_output_accuracy: 0.6653 - val_department_output_loss: 0.7796 - val_loss: 1.2459
Epoch 29/30
30/30 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - attrition_output_accuracy: 0.8722 - attrition_output_loss: 0.3332 - department_output_accuracy: 0.7620 - department_output_loss: 0.5718 - loss: 0.9048 - val_attrition_output_accuracy: 0.8432 - val_attrition_output_loss: 0.4333 - val_department_output_accuracy: 0.6398 - val_department_output_loss: 0.7884 - val_loss: 1.2490
Epoch 30/30
30/30 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - attrition_output_accuracy: 0.8628 - attrition_output_loss: 0.3588 - department_output_accuracy: 0.7970 - department_output_loss: 0.5384 - loss: 0.8973 - val_attrition_output_accuracy: 0.8347 - val_attrition_output_loss: 0.4528 - val_department_output_accuracy: 0.6483 - val_department_output_loss: 0.7908 - val_loss: 1.2755

In [88]:
# Evaluate the model with the testing data
results = model.evaluate(
    X_test_scaled,
    {'department_output': y_test_department, 'attrition_output': y_test_attrition}
)

10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - attrition_output_accuracy: 0.8813 - attrition_output_loss: 0.3890 - department_output_accuracy: 0.6158 - department_output_loss: 0.8256 - loss: 1.2241

In [89]:
# Print the accuracy for both department and attrition
print(f"Department Accuracy: {results[3]}\nAttrition Accuracy: {results[4]}")

Department Accuracy: 0.8911564350128174
Attrition Accuracy: 0.6496598720550537

# Summary

In the provided space below, briefly answer the following questions.

1. Is accuracy the best metric to use on this data? Why or why not?

2. What activation functions did you choose for your output layers, and why?

3. Can you name a few ways that this model might be improved?

YOUR ANSWERS HERE
summary = """
1. Is accuracy the best metric to use on this data? Why or why not?
   - Accuracy is a good starting point but may not be sufficient if the dataset is imbalanced.
     For example, if most employees do not leave, the model could achieve high accuracy by predicting 'No' for attrition.
     Precision, recall, or F1-score might be better alternatives.

2. What activation functions did you choose for your output layers, and why?
   - Softmax for multi-class output layers (e.g., "Department").
   - Sigmoid for binary classification (e.g., "Attrition"). These activation functions align with the output types of their respective tasks.

3. Can you name a few ways that this model could be improved?
   - Include more features to capture additional employee attributes.
   - Perform hyperparameter tuning to optimize the network.
   - Use cross-validation to ensure robustness.
   - Address potential class imbalance in the targets by using techniques like oversampling.